<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name = "author" content="Jonas Lauritsen" >
    <meta name= "viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The official pages for The Alberdi Lab's Opentrons Script">
    <title>Get AlberdiLab Opentrons Script</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
    <link rel="icon" href="/static/img/alberdilab-110x110.png" type="image/x-icon">
</head>


<body>
    <figure>
        <img src="/static/img/alberdilab-110x110.png" alt="The Alberdi Lab">
        <figcaption>The image and its rights belongs to *Alberdi Lab*</figcaption>
    </figure>
    
    <header>
        <section id="Introduction">
            <h1>Online Download of Opentrons Script for the Alberdi lab</h1>
            <p>Welcome! On this website, <a href="https://www.alberdilab.dk/index.html" target="_blank">The Alberdi Lab</a> keep an downloadable version of the opentrons scripts we use. The webiste runs on Render [Link] using the Flask [Link] Python package running the Github repository[Link]. </p>
        </section>
    </header>

    <hr>

    
    <nav aria-label="primary-navigation">
        <h2>Overview</h2>
        <ul>
            <li><a href="#Datasubmission">Data Submission</a></li>
            <li><a href="#Explanation">Input Explanation</a></li>
        </ul>
    </nav>

    <hr>

    <main>
        <section id="Datasubmission">
            <h2>Data submission</h2>
            <p>In the following section you will have to select what protocol you wish to download, and input what  what your run is going to be, and some basic information to rename the file for easier tracking. Below the submission there is a explanation of each submission.
            </p>


            
            <form action="/OT2transfer" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>User Data Input</legend>
                <p>
                    <label for="protocol">Choose a Protocol</label><br>
                    <select id="protocol" name="protocol">
                        <option value="Extraction">Extraction</option>
                        <option value="Library">Library</option>
                        <option value="qPCR">qPCR</option>
                        <option value="IndexPCR">IndexPCR</option>
                    </select>
                </p>

                <p>
                    <label for="user">User</label><br>
                    <input type="text" name="user" id="user" placeholder="User/Name/RunID" required>
                </p>

                <p>
                    <label for="samples">Number of Samples</label><br>
                    <input type="number" name="samples" id="samples" placeholder="96" required>
                </p>

                <p>
                    <label for="inputformat">Input Format of Samples</label><br>
                    <select name="inputformat" id="inputformat">
                        
                        <optgroup label="DNA/RNA Extraction">
                            <option value="PCRstrip">PCR strip</option>
                            <option value="PCRplate">PCR plate</option>
                            <option value="LVLSXS200">LVL SXS200</option>
                            <option value="LVLXL1000">LVL XL1000</option>
                        </optgroup>

                        <optgroup label="Library Building">
                            <option value="PCRstrip">PCR strip</option>
                            <option value="PCRplate">PCR plate</option>
                            <option value="LVLSXS200">LVL SXS200</option>
                            <option value="LVLXL1000">LVL XL1000</option>
                        </optgroup>

                        <optgroup label="qPCR">
                            <option value="PCRstrip">PCR strip</option>
                            <option value="PCRplate">PCR plate</option>
                            <option value="LVLSXS200">LVL SXS200</option>
                            <option value="LVLXL1000">LVL XL1000</option>
                        </optgroup>

                        <optgroup label="Index PCR">
                            <option value="PCRstrip">PCR strip</option>
                            <option value="PCRplate">PCR plate</option>
                            <option value="LVLSXS200">LVL SXS200</option>
                            <option value="LVLXL1000">LVL XL1000</option>
                        </optgroup>
                        
                    </select>
                    
                    
                </p>

                <p>
                    <label for="outputformat">Output Format of Samples</label><br>
                    <select name="outputformat" id="outputformat">
                        
                        <optgroup label="DNA/RNA Extraction">
                            <option value="PCRstrip">PCR strip</option>
                            <option value="PCRplate">PCR plate</option>
                            <option value="LVLSXS200">LVL SXS200</option>
                            <option value="LVLXL1000">LVL XL1000</option>
                        </optgroup>

                        <optgroup label="Library Building">
                            <option value="PCRstrip">PCR strip</option>
                            <option value="PCRplate">PCR plate</option>
                            <option value="LVLSXS200">LVL SXS200</option>
                            <option value="LVLXL1000">LVL XL1000</option>
                        </optgroup>

                        <optgroup label="qPCR">
                            <option value="PCRstrip">PCR strip</option>
                            <option value="PCRplate">PCR plate</option>
                            <option value="LVLSXS200">LVL SXS200</option>
                            <option value="LVLXL1000">LVL XL1000</option>
                        </optgroup>

                        <optgroup label="Index PCR">
                            <option value="PCRstrip">PCR strip</option>
                            <option value="PCRplate">PCR plate</option>
                            <option value="LVLSXS200">LVL SXS200</option>
                            <option value="LVLXL1000">LVL XL1000</option>
                        </optgroup>
                        
                    </select>
                    
                    
                    
                    
                </p>
                
                
                <p>
                    <Label for="myFile">Excel or CSV data for normalisation and library building. <a href="/template/Template_CSV_LibraryInput.xlsx">Excel Template</a><br>
                    <input type="file" id="myFile" name="myFile" accept=".csv" data-show-if="protocol:Library Building" >
                    <p><em>The file upload is required for Library protocols</em></Label><br></p>
                    
                </p>

                <br>

                <p>
                    <button type="submit">Submit</button>
                    <button type="reset">Reset</button>
                </p>
                </fieldset>
            </form>
        </section>
        
        
        <br>
        <hr>

        <section id="Explanation">
            <br>
            <h3>Submission explanation</h3>
            <br>
            <p>The following paragraph is an indepth explanation about what each User Input field is expecting.</p>
            br
            <ol>
                <li>Explanation 1</li>
            </ol>
        </section>
    </main>

    <hr>

    <footer>
    <p>&lt;&lt;&lt;&nbsp;&copy;Jonas Greve Lauritsen & The Alberdi Group &nbsp;&gt;&gt;&gt;</p>
    <p><a href="#">Return to top</a></p>
    </footer>



</body>
</html>