<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ User }} Opentrons Scripts</title>
    <link href = "{{url_for('static', filename='styles/style.css')}}" rel = "stylesheet" />
</head>



<body>
    <h1>{{ User }} Opentrons Scripts</h1>
    
    <p>Welcome! Here are your Alberdi script(s) for the Opentrons OT-2. Good Luck</p>

    <p></p>



    

    






</body>
</html>