* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #676768;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 16px;
}

input, select, button, optgroup {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee;
}

.center {
    text-align: center;
}

optgroup {
    display: none;
}

#protocol[value="Extraction"] ~ #inputformat optgroup[label="DNA/RNA Extraction"],
#protocol[value="Library"] ~ #inputformat optgroup[label="Library Building"],
#protocol[value="qPCR"] ~ #inputformat optgroup[label="qPCR"],
#protocol[value="IndexPCR"] ~ #inputformat optgroup[label="Index PCR"],
#protocol[value="Extraction"] ~ #outputformat optgroup[label="DNA/RNA Extraction"],
#protocol[value="Library"] ~ #outputformat optgroup[label="Library Building"],
#protocol[value="qPCR"] ~ #outputformat optgroup[label="qPCR"],
#protocol[value="IndexPCR"] ~ #outputformat optgroup[label="Index PCR"] {
    display: block;
}